In [1]:
# Data manipulation
import pandas as pd

# Math
import numpy as np
# Set seed for reproducability
np.random.seed(2019)

# Data visualization - helps customize plots
import matplotlib.pyplot as plt
# Setting our matplotlib settings
%matplotlib inline 

# Prettier data visualization
import seaborn as sns
# Setting a default style for our seaborn plots

In [2]:
df_t = pd.read_csv('df_100.csv')

In [4]:
df_t.head()

,Unnamed: 0,id,genre_ids,original_title,title,release_date,popularity,vote_average,vote_count,budget,revenue,imdb_id,originalTitle,startYear,genres,averageRating,numVotes,Gross Profit
0,41,299534,"['Action', 'Adventure', 'Science Fiction']",Avengers: Endgame,Avengers: Endgame,2019-04-24,38.570,83.0,11389,356000000.0,2.797801e+09,tt4154796,Avengers: Endgame,2019.0,"Action,Adventure,Drama",8.5,674091,2.441801e+09
1,3515,140607,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",Star Wars: The Force Awakens,Star Wars: The Force Awakens,2015-12-15,28.812,74.0,13865,245000000.0,2.068224e+09,tt2488496,Star Wars: Episode VII - The Force Awakens,2015.0,"Action,Adventure,Sci-Fi",7.9,827462,1.823224e+09
2,11,299536,"['Action', 'Adventure', 'Science Fiction']",Avengers: Infinity War,Avengers: Infinity War,2018-04-25,84.768,83.0,16897,300000000.0,2.046240e+09,tt4154756,Avengers: Infinity War,2018.0,"Action,Adventure,Sci-Fi",8.5,750111,1.746240e+09
3,1658,135397,"['Action', 'Adventure', 'Science Fiction', 'Th...",Jurassic World,Jurassic World,2015-06-06,25.921,66.0,15085,150000000.0,1.671713e+09,tt0369610,Jurassic World,2015.0,"Action,Adventure,Sci-Fi",7.0,556879,1.521713e+09
4,28,420818,"['Adventure', 'Family']",The Lion King,The Lion King,2019-07-12,39.216,71.0,4581,260000000.0,1.656943e+09,tt6105098,The Lion King,2019.0,"Adventure,Animation,Drama",6.9,169643,1.396943e+09

In [5]:
"""
This code give each genre a column in the dataframe.

"""
df_t.genre_ids = df_t.genre_ids.apply(lambda x: eval(x))

In [6]:
"""
Below creates list that contains genres

"""

genre_list = []
for genres in df_t.genre_ids:
    for genre in genres:
        if genre not in genre_list:
            genre_list.append(genre)

In [1]:
"""
Following code places 'True' or 'False' values in the genre columns taken from the 'genreids' column.

"""
for genre in genre_list:
    df_t[genre] = df_t['genre_ids'].apply(lambda x: genre in x)
    
print(genre_list)

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-1-8369488ba8a3>, line 8)

In [123]:
df_t

,Unnamed: 0,id,genre_ids,original_title,title,release_date,popularity,vote_average,vote_count,budget,...,Animation,Romance,Comedy,Crime,Drama,Music,War,Horror,Western,Mystery
0,41,299534,"[Action, Adventure, Science Fiction]",Avengers: Endgame,Avengers: Endgame,2019-04-24,38.570,83.0,11389,356000000.0,...,False,False,False,False,False,False,False,False,False,False
1,3515,140607,"[Action, Adventure, Fantasy, Science Fiction]",Star Wars: The Force Awakens,Star Wars: The Force Awakens,2015-12-15,28.812,74.0,13865,245000000.0,...,False,False,False,False,False,False,False,False,False,False
2,11,299536,"[Action, Adventure, Science Fiction]",Avengers: Infinity War,Avengers: Infinity War,2018-04-25,84.768,83.0,16897,300000000.0,...,False,False,False,False,False,False,False,False,False,False
3,1658,135397,"[Action, Adventure, Science Fiction, Thriller]",Jurassic World,Jurassic World,2015-06-06,25.921,66.0,15085,150000000.0,...,False,False,False,False,False,False,False,False,False,False
4,28,420818,"[Adventure, Family]",The Lion King,The Lion King,2019-07-12,39.216,71.0,4581,260000000.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1734,324668,"[Action, Thriller]",Jason Bourne,Jason Bourne,2016-07-27,17.458,62.0,3899,120000000.0,...,False,False,False,False,False,False,False,False,False,False
96,2718,396422,"[Horror, Mystery, Thriller]",Annabelle: Creation,Annabelle: Creation,2017-08-03,16.383,65.0,3612,15000000.0,...,False,False,False,False,False,False,False,True,False,True
97,31,87101,"[Science Fiction, Action, Thriller, Adventure]",Terminator Genisys,Terminator Genisys,2015-06-23,36.211,59.0,5845,155000000.0,...,False,False,False,False,False,False,False,False,False,False
98,29,324857,"[Action, Adventure, Animation, Comedy, Science...",Spider-Man: Into the Spider-Verse,Spider-Man: Into the Spider-Verse,2018-12-06,44.866,84.0,6424,90000000.0,...,True,False,True,False,False,False,False,False,False,False
99,2738,282035,"[Action, Adventure, Fantasy, Horror, Thriller]",The Mummy,The Mummy,2017-06-06,12.564,55.0,4934,125000000.0,...,False,False,False,False,False,False,False,True,False,False

In [119]:
"""
The following code is done in a stupid way. I copied the following list in to excel, computed the mean value for 'user
ratings' for every genre. Then I reused the code to find the mean 'Gross Profit'. When each value was computed, it was 
copied into excel. (rating.xlcx)

"""

print(genre_list)
Mystery=df_t.loc[df_t['Mystery'] == True]
Mystery['Gross Profit'].mean()

['Action', 'Adventure', 'Science Fiction', 'Fantasy', 'Thriller', 'Family', 'Animation', 'Romance', 'Comedy', 'Crime', 'Drama', 'Music', 'War', 'Horror', 'Western', 'Mystery']

310160541.0

In [117]:
Mystery['Gross Profit'].mean()

310160541.0